noscript div {
    background-color: #2c80b9;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 10px 10px 100px 10px;
    border: 0;
    position: relative;
  }
  
noscript div img {
    position: absolute;
    right: 0;
    bottom: 0;
}